@charset "utf-8";
/* CSS-Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,img,form{padding:0; margin:0;} 
table,td,tr,th{font-size:12px;}
li{list-style-type:none;list-style:none; }
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
div,ul,li,h1,h2,h3,h4,h5,h6,ol,dl,dd,dt { font:normal 12px/24px Verdana, Geneva, sans-serif; color:#454545;}
.fix{*zoom:1;}.fix:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
/* 通用样式 */
a {
	text-decoration:none;
	blr:e­xpression(this.onFocus=this.blur());
	outline-style:none;
} /* 针对IE */

a:link,a:visited {
	color:#454545;
}
a:hover,a:active {
	color:#1d5fa4;
}
.l1:link,.l1:visited {
	color:#fff;
}
.l1:hover,.l1:active {
	color:#fff;
	text-decoration:underline;
}
.fr {
	float:right;
}
.fl {
	float:left;
}
.clearfix:before,.clearfix:after{content:''; display:table;}.clearfix:after{clear:both;}.clearfix{*zoom:1;}